body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    /* overflow: hidden; */
    margin: 0;
    background-color: steelblue;
    color: #fff;
}

.register {
    display: block;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.logo {
    display: flex;
    width: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.edit {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.edit input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background-color: lightblue;
    padding: 15px;
    border: 0;
    font-size: 16px;
    border-radius: 5px;
}

.btn:hover {
    background-color: steelblue;
    color: white;
    transition-delay: 100ms;
}

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(0.98);
}

.text {
    margin-top: 30px;
    text-align: center;
}

.register .text a {
    text-decoration: none;
    color: aqua;
}

.edit input:focus,
.edit input:valid {
    outline: 0;
    border-bottom-color: lightblue;
}

.edit label {
    position: absolute;
    top: 15px;
    left: 0;
}

.edit label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.edit input:focus+label span,
.edit input:valid+label span {
    color: lightblue;
    transform: translateY(-30px);
}

.message {
    margin: 5px 0;
    /* width: 90%; */
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: red;
    color: white;
    font-size: 17px;
}

/* input[type=date]::-webkit-datetime-edit-text {
    -webkit-appearance: none;
    color: rgba(0, 0, 0, 0.4);
}

input[type=date]::-webkit-datetime-edit-month-field {
    -webkit-appearance: none;
    color: rgba(0, 0, 0, 0.4);
}

input[type=date]::-webkit-datetime-edit-day-field {
    -webkit-appearance: none;
    color: rgba(0, 0, 0, 0.4);
}

input[type=date]::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    color: rgba(0, 0, 0, 0.4);
} */