h4{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
}
.row{
    padding-left: 50px;
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
table{
    width: 95%;
    height: auto;
}
td{
    padding: 5px;
    /* text-align: center; */
}
.column-topic{
    font-size: 20px;
}
.column{
    border: 1px solid white;
}
.add_another_btn{
    margin-bottom: 15px;
}
.add_another_btn a{
    padding: 5px;
    border: 1px solid rgba(30, 237, 226, 0.501);
    width: fit-content;
    position: relative;
    left: 90%;  
    padding: 10px;
    background-color: rgba(30, 237, 226, 0.501);
    color: white;
}
.icons{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;
}
.delete{
    margin: 5px;
    text-align: center;
}
.delete img{
    height: 20px;
}
